.home{
    width:350px;
    height: 150px;
    margin-top: 5%;
    margin-left: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 37px;
 }
 .date{
    float: right;
     width: 200px;
     height:40px
 }
